{% if quiz%}
    <form method="POST" action="/quizzes/{{ quiz.id }}">
{% else %}
    <form method="POST" action="/quizzes">
{% endif %}
    <div class="control">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Quiz name..." {% if quiz %}value="{{quiz.name}}" {% endif %}>
        <label>Weight:</label>
        <input type="text" name="weight" placeholder="Quiz weight..."{% if quiz %} value="{{quiz.weight}}" {% endif %}>
    </div>
    <button type="submit">Save</button>
</form>