{% extends 'layouts/_default.twig' %}
{% block title %}Create a new Quiz{% endblock %}
{% block main_content %}
    <section>
        <h2>Create Quiz</h2>
        <a href="/quizzes">Back</a>
        {% include 'quizzes/_form.twig' with { 'quiz': quiz } %}        
    </section>
{% endblock %}