{% extends 'layouts/_default.twig' %}
{% block main_content %}
    <h2>Login</h2>
    <p>You are already logged in, click below to log out.</p>
    <a href="/auth/logout">Logout of Github</a>
{% endblock %}