{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <section>
          <h2>Let's get into: Twig Templating!</h2>
          <p>Here we'll get some simple templating incorporated into our existing RESTful project.</p>
    </section>
{% endblock %}